{% extends 'tragicreviews/base_boot-strap.html' %}

{% load staticfiles %}
{% block title_block %}
	Change Password
{% endblock %}
{% block scripts %}
    <script src="{% static "js/authentication.js" %}"></script>
{% endblock %}

{% block body_block %}


    <div class="panel panel-default">

              <div class="panel-heading">Registration</div>

              <div class="panel-body" id="register">
                  <form method="post" action="." onsubmit="return isDifferentNewPwd()">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <input type="submit" value="Change Password" />
                  </form>
              </div>
    </div>



{% endblock %}
