body {
    background-color: white;
    color: DarkSlateGrey;
    padding-bottom: 50px;
}

.jumbotron {
    background-color: AntiqueWhite; 
}

#header {
    display: flex;
    align-items: center;
}

#account-col { 
    text-align: right;
}

#account-col :first-child {
    margin-top: 0;
}

#account-col :last-child {
    margin-bottom: 0;
}

#about.panel-default {
    margin-bottom: 0;
}

.navbar-fixed-top {
    display: none;
}

#sidebar {
    padding-left: 31px;
}

/* Collapsed sidebar styles */
@media screen and (max-width: 767px)
{
    body {
        padding-top: 50px;
    }

    .navbar-fixed-top {
        display: block;
    }

    .navbar-form {
        border: none;
        padding: 0;
        margin: 8px 15px;
        display: flex;
    }

    .navbar-form .form-group {
        width: 100%;
        margin-right: 15px;
    }

    #search-col {
        display: none;
    }

    #account-col {
        width: 58.33333333%;
    }

    #main-row {
        position: relative;
        left: 0;
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        -o-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out;
    }

    #sidebar {
        position: absolute;
        top: 0;
        left: -30%;
        width: 30%;
        padding-left: 40px;
        padding-bottom: 50px;
    }

    #main-row.active {
        left: 30%;
    }

    #pageBody {
        width: 100%;
    }
}

.panel-heading h3 {
    margin-top: 10px;
}

.panel-heading .btn {
    margin-top: 6px;
}

#user.p {
    padding-left: 30px;
}

#category.panel-body div.row { 
  border: 1px solid;
  border-bottom: 0px;
}

#category.panel-body div.row:last-child {
  border-bottom: 1px solid;
}

p.index {
    max-height: 20vh;
    overflow-y: hidden;
}

p.truncated {
    max-height: 60px;
    overflow-y: hidden;
}

p.article {
    word-wrap: break-word;
    white-space: pre-wrap;
    margin: 0;
}

#article-content.panel-body {
    max-height: 25vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

#cat-body.panel-body {
    overflow-y: hidden;
}
#submit-btn.container { 
    padding-top: 20vh;
}

#profile h1 {
    margin-top: 0;
}

#profile > .panel-heading {
    padding: 0;
}

#profile .nav-tabs {
    padding: 3px 15px 0;
    border-bottom: none;
}

.profile-article-list {
    margin-bottom: 0;
}

.profile-article-list .row {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
    display: flex;
    align-items: center;
}

.profile-article-list .row:first-child {
    padding-top: 0;
}

.profile-article-list .row:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.profile-article-list .row h4 {
    margin-top: 0;
}

.profile-article-list .row p {
    margin-bottom: 0;
}

.top-buffer {
    margin-top:3vh;
}

.extra-top-buffer {
    margin-top:10vh;
}

.left-buffer {
    margin-left: 4px;
}

.navbar-fixed-bottom {
    background-color: white;
    border-top: 1px solid #ddd;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.panel {
    position: relative;
}

.carousel-single .carousel-control {
    cursor: not-allowed;
    opacity: 0.5;
}

a.carousel-control:link {
    color: white;
}

a.carousel-control:visited {
    color: white;
}

.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

.carousel-content > div {
    width: 100%;
}

.carousel-caption {
    color:black;
    display:block;
    align-items:;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 2vh;
}

.carousel-indicators {
    width: auto;
    bottom: auto;
    left: auto;
    right: 0;
    top: -44px;
}

.carousel-indicators li {
    background-color: #999;
    background-color: rgba(70, 70, 70, .25);
}

.carousel-indicators .active {
    background-color: #444;
}

.share-buttons {
    line-height: 0;
    margin: 8px 0;
}

.fb_iframe_widget > span {
    vertical-align: baseline !important;
}

.profile-year {
    display: inline-block;
    margin-right: 4px;
}

.checkbox {
    margin-top: 0;
}

#loginReg {
    margin: 10px 0 0;
}

#search-pagination-wrapper a + a {
    margin-left: 4px;
}

.search-autocomplete, .search-autocomplete .form-group {
    position: relative;
}

.autocomplete-results {
    display: block;
    top: 90%;
    right: 0;
}

.autocomplete-results p {
    margin: 3px 20px;
}

.autocomplete-result {
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-rating {
    font-size: 16px;
    color: #ffb900;
    display: none; /* Shown if JS is enabled */
    overflow: hidden;
}

.article-rating:before { 
    content: "\2605\2605\2605\2605\2605"; 
}

.row-fade {
    position: relative;
    display: table;
}

.row-fade:after {
    content: "";
    width: 100%;
    height: 100%;
    padding: inherit;
    display: none; /* Wait for JS to check if it has overflowed */
    position: absolute;
    left: 0;
    top: 0;
    background: content-box linear-gradient(to top, white, rgba(255, 255, 255, 0) 50px);
}

.row-fade.overflowed:after {
    display: block;
}
