body {
    background-color: white;
    color: DarkSlateGrey;
    padding-bottom: 10vh;
}

.jumbotron {
    background-color: AntiqueWhite; 
}


#account-panel { 
    padding-top: 5vh;
    padding-left: 20vh;
}

#about.panel-default {
    background-color: white;
    border-color: DarkSlateGrey;
}

#search.container {
    background-color: white;
    border-color: DarkSlateGrey;
    padding-right: 30vh;
    padding-top: 10vh;
}


#sidebar.container {
    padding-left: 2vh;
}

#user.p {
    padding-left: 30px;
}

#category.panel-body div.row { 
  border: 1px solid;
  border-bottom: 0px;
}

#catRow.container{
    width: 80vh;
}

#category.panel-body div.row:last-child {
  border-bottom: 1px solid;
}

p.index {
    max-height: 20vh;
    overflow-y: hidden;
}

p.profile {
    max-height: 8vh;
    overflow-y: hidden;
}

p.article {
    word-wrap: break-word;
    white-space: pre-wrap;
}


#article-content.panel-body {
    max-height: 25vh;
    overflow-x: hidden;
    overflow-y: scroll;
}


#cat-body.panel-body {
    max-height: 10vh;
    overflow-y: hidden;
}
#submit-btn.container { 
    padding-top: 20vh;
}

#profile.panel-default div.row { 
  border: 1px solid;
  border-bottom: 0px;
}

#profile.panel-default div.row:last-child {
  border-bottom: 1px solid;
}


#uploadRow.container {
    width: 85vh;
}

.top-buffer {
    margin-top:3vh;
}

.extra-top-buffer {
    margin-top:10vh;
}

.left-buffer {
    margin-left:3vh;
}

.navbar-fixed-bottom {
    background-color: white;
    border-top: 1px solid #ddd;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

.carousel-content > div {
    width: 100%;
}

.carousel-caption {
    color:black;
    display:block;
    align-items:;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 2vh;
}

a {
    /*link*/
    text-decoration: none

}


a:link {
    color: CadetBlue
    text-decoration: none
    /* unclicked link */

}

a:visited {
    color: MidnightBlue
    /* clicked link */
}

a:hover {
    color: LightSteelBlue;
}

