body {
    background-color: AntiqueWhite;
    color: DarkSlateGrey;
}

.jumbotron {
    background-color: AntiqueWhite; 
}


#login.container { 
    padding-top: 70px;
    padding-left: 200px;
}

#about.panel-default {
    background-color: AntiqueWhite;
    border-color: DarkSlateGrey;
}

#search.panel-default {
    background-color: AntiqueWhite;
    border-color: DarkSlateGrey;
}


#sidebar.container {
    padding-left: 30px;
}

#user.p {
    padding-left: 30px;
}

#category.panel-default div.row { 
  border: 1px solid;
  border-bottom: 0px;
}

#catRow.container{
     width: 1000px;
      }

#cat.panel-body {
    max-height: 500px;
    overflow-y: scroll;
}

#category.panel-default div.row:last-child {
  border-bottom: 1px solid;
}

#article-body.panel-body {
    max-height: 500px;
    overflow-y: scroll;
}

#article-content.panel-body {
    max-height: 200px;
    overflow-y: scroll;
}

#submit-btn.container { 
    padding-top: 70px;
}

#profile.panel-default div.row { 
  border: 1px solid;
  border-bottom: 0px;
}
#profile.panel-default div.row:last-child {
  border-bottom: 1px solid;
}


#uploadRow.container{
     width: 1000px;
      }

#uploads.panel-body {
    max-height: 500px;
    overflow-y: scroll;
}

.top-buffer {
    margin-top:20px;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}


.navbar-nav > li {
    display: inline-block;
    float:none;
}

.carousel-content {
    color:black;
    display:flex;
    align-items:center;
}

.carousel-caption {
    color:black;
    display:block;
    align-items:;
}

#text-carousel {
  width: 100%;
  height: auto;
  padding: 50px;
}

a {
    /*link*/
    text-decoration: none

}


a:link {
    color: CadetBlue
    text-decoration: none
    /* unclicked link */

}

a:visited {
    color: MidnightBlue
    /* clicked link */
}

a:hover {
    color: LightSteelBlue;
}

