{% extends 'tragicTest/base_boot-strap.html' %}
{% load staticfiles %}

{% block title_block %}
	Index
{% endblock %}

{% block body_block %}

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          Testing this out yay
          <div class="carousel-caption">
            <h3>Title</h3>
          </div>
        </div>

        <div class="item">
          Testing this out yay
          <div class="carousel-caption">
            <h3>Chicago</h3>
            <p>Thank you, Chicago!</p>
          </div>
        </div>

        <div class="item">
          Testing this out yay
          <div class="carousel-caption">
            <h3>New York</h3>
            <p>We love the Big Apple!</p>
          </div>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>



    <div class="panel-group">

        <div class="panel panel-default" id="trending">
        
          <div class="panel-heading">Trending</div>
          
          <div class="panel-body">
            <div class="row">
                <div class="col-sm-2"><ul class="pager">
                      <li class="previous"><a href="#">Previous</a></li></ul></div>
                <div class="col-sm-2">
                    <div class="panel panel-default">
                      <div class="panel-heading">Title</div>
                      <div class="panel-body">Data</div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="panel panel-default">
                      <div class="panel-heading">Title</div>
                      <div class="panel-body">Data</div>
                    </div></div>
                <div class="col-sm-2">
                    <div class="panel panel-default">
                      <div class="panel-heading">Title</div>
                      <div class="panel-body">Data</div>
                    </div></div>
                <div class="col-sm-2">
                    <div class="panel panel-default">
                      <div class="panel-heading">Title</div>
                      <div class="panel-body">Data</div>
                    </div></div>
                <div class="col-sm-2"><ul class="pager"><li class="next"><a href="#">Next</a></li>
                    </ul></div>
            </div>

        </div>

        <div class="panel panel-default" id="new">
        
          <div class="panel-heading">New</div>
          
          <div class="panel-body">
          
            <div class="row">
                <div class="col-sm-2"><ul class="pager">
                      <li class="previous"><a href="#">Previous</a></li></ul></div>
                <div class="col-sm-2">
                    <div class="panel panel-default">
                      <div class="panel-heading">Title</div>
                      <div class="panel-body">Data</div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="panel panel-default">
                      <div class="panel-heading">Title</div>
                      <div class="panel-body">Data</div>
                    </div></div>
                <div class="col-sm-2">
                    <div class="panel panel-default">
                      <div class="panel-heading">Title</div>
                      <div class="panel-body">Data</div>
                    </div></div>
                <div class="col-sm-2">
                    <div class="panel panel-default">
                      <div class="panel-heading">Title</div>
                      <div class="panel-body">Data</div>
                    </div></div>
                <div class="col-sm-2"><ul class="pager"><li class="next"><a href="#">Next</a></li>
                    </ul></div>
            </div>
         </div>

        </div>

    </div>

    Finn is just making this work</div>

            

{% endblock %}
