{% extends 'tragicTest/base_boot-strap.html' %}
{% load staticfiles %}

{% block title_block %}
	Index
{% endblock %}

{% block body_block %}



    <div class="panel-group">

        <div class="panel panel-default" id="trending">
        
          <div class="panel-heading">Trending</div>
          
          <div class="panel-body">
            <div class="row">
                <div class="col-sm-2"><ul class="pager">
                      <li class="previous"><a href="#">Previous</a></li></ul></div>
                <div class="col-sm-3">There will be data here</div>
                <div class="col-sm-3">There will be data here</div>
                <div class="col-sm-3">There will be data here</div>
                <div class="col-sm-1"><ul class="pager"><li class="next"><a href="#">Next</a></li>
                    </ul></div>
            </div>

        </div>

        <div class="panel panel-default" id="trending">
        
          <div class="panel-heading">New</div>
          
          <div class="panel-body">
          
            <div class="row">
                <div class="col-sm-2"><ul class="pager">
                      <li class="previous"><a href="#">Previous</a></li></ul></div>
                <div class="col-sm-3">There will be data here</div>
                <div class="col-sm-3">There will be data here</div>
                <div class="col-sm-3">There will be data here</div>
                <div class="col-sm-1"><ul class="pager"><li class="next"><a href="#">Next</a></li>
                    </ul></div>
            </div>
         </div>

        </div>

    </div>

    Finn is just making this work</div>

            

{% endblock %}
