{% extends 'tragicreviews/base_boot-strap.html' %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block title_block %}
	Submit Article
{% endblock %}

{% block body_block %}
        <div class="panel panel-default">
            <div class="panel-body" id="new-article">
                <form method="POST" action=".">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <input type="submit" value="Submit" />
                </form>
            </div>
        </div>
{% endblock %}
