{% extends 'tragicreviews/base_boot-strap.html' %}
{% load staticfiles %}

{% block title_block %}
	Article Name
{% endblock %}

{% block body_block %}
        <div class="panel panel-default">
            <div class="panel-body" id="new-article">
                <form method="POST" action=".">
                    <div class="row">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <div class="row top-buffer">
                          <input type="submit" value="Submit" />
                    </div>
                </form>
            </div>
        </div>
{% endblock %}
