{% extends 'tragicreviews/base_boot-strap.html' %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block title_block %}
    {{ title }}
{% endblock %}

{% block body_block %}

    <div class="panel panel-default" id="article">
        <div id="fb-root"></div>


        <div class="panel-heading">
            <h2>{{ title }}
                <small>by <a href='{% url 'profile' author.user %}'>{{ author }}</a></small>
                <div>
                <div>
                <a href="https://twitter.com/share" class="twitter-share-button"
                   data-text="Good article"
                   data-show-count="false">Tweet</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="fb-share-button"
                     data-href=""
                     data-layout="button"
                     data-size="small"
                     data-mobile-iframe="true">
                </div>
                <div id="fb-root"></div>
                <script>(function (d, s, id) {
                    var js, fjs = d.getElementsByTagName(s)[0];
                    if (d.getElementById(id)) return;
                    js = d.createElement(s);
                    js.id = id;
                    js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.12';
                    fjs.parentNode.insertBefore(js, fjs);
                }(document, 'script', 'facebook-jssdk'));</script>
                </div>
            </h2>
        </div>

        <div class="panel-body" id="article-body">

            <div class="panel panel-default">
                <div class="panel-body" id="article-content">
                    <p class="article">{{ text }}</p>
                </div>
            </div>
            <div class="top-buffer">
              <p>Average Rating: {{ rating_avg }}</p>
              <form method="post" action=".">
                  {% csrf_token %}
                  {% bootstrap_form sub_form %}
                  <input type="submit" name="ratingbtn" value="Submit"/>
              </form>
            </div>
            <div class="top-buffer">
              <form method="POST" action=".">
                  {% csrf_token %}
                  {% bootstrap_form form %}
                  <input type="submit" name="commentbtn" value="Submit"/>
              </form>
            </div>

            <div class="container top-buffer">

                {% for c in comment_set %}
                    <div class="media">
                        <div class="media-left">
                            <img src="{{ MEDIA_URL }}{{ c.user.image }}" class="media-object" style="width:60px">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading"><a href="{% url 'profile' c.user.user %}"> {{ c.user }} </a></h4>
                            <p> {{ c.text }} </p>
                        </div>


                    </div>
                {% endfor %}
            </div>

        </div>

    </div>


{% endblock %}
