{% extends 'tragicreviews/base_boot-strap.html' %}
{% load staticfiles %}

{% block title_block %}
	Article Name
{% endblock %}

{% block body_block %}

    <div class="panel panel-default" id="article">
            
              <div class="panel-heading">
                  <h2>{{ title }} <small>by <a href='#'>{{ author }}</a></small></h2>
              </div>
              
              <div class="panel-body" id="article-body">
                    <div class="panel panel-default">
                        <div class="panel-body" id="article-content">
                                {{ text }}
                    </div> </div>
                    <div class="row">
                        <form method="post" action=".">
                            <div class="row">
                                {{ form.as_p }}
                            </div>
                            <div class="row">
                                  <input type="submit" value="Submit" />
                            </div>
                        </form>
                    </div>
                
                    <div class="container">
                      <div class="media">
                            {% for c in comment_set %}
                                <div class="media-left">
                                    <img src={{ c.user.image }} class="media-object" style="width:60px">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading"> {{ c.user.user }} </h4>
                                    <p> {{ c.text }} </p>
                                </div>
                            {% endfor %}

                      </div>
                    </div>
                    
              </div>
              
    </div>

            
{% endblock %}
