<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">


<head>
  <title>TragicReviews -
            {% block title_block %}
                Reviews That Are Tragic
            {% endblock %}</title>
            
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="{% static "css/base.css" %}" rel="stylesheet">
  {% block scripts %}
      <!--Insert your scripts-->
  {% endblock %}
  
</head>

<body>

    <nav class="navbar navbar-fixed-bottom" id="bottomLinks">
  <div class="container-fluid">
    
    <ul class="nav navbar-nav">
      <li><a href='{% url 'index' %}'>Index</a></li>
      <li><a href='{% url 'index' %}'>Sitemap</a></li>
    </ul>
  </div>
</nav>


<div class="container-fluid">
   <div class="row" >
    <div class="col-sm-6">
       <div class="container" id="title">
            <div class="jumbotron">
                <h1>TragicReviews</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-2 align-self-end">
        <div id="search" class="container">
            <div class="panel-body"><center>search bar here</center></div>
        </div>
    </div>
    <div class="col-sm-2 align-self-end">
        <div id="login" class="container">
            {% if user.is_authenticated %}
            <h4><p>
            <a href='{% url 'auth_logout' %}?next=/tragicreviews/'><span class="glyphicon glyphicon-log-out"></span> Log Out </a>
            </p><p>
            <a href='/accounts/password/change/'><span class="glyphicon glyphicon-edit"></span> Change Password </a>
            </p></h4>
            {% else %}
            <h4><p>
            <a href='{% url 'registration_register' %}'><span class="glyphicon glyphicon-user"></span> Sign Up</a>
            </p><p>
            <a href='{% url 'auth_login' %}'><span class="glyphicon glyphicon-log-in"></span> Login</a>
            </p></h4>
            {% endif %}
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2">
    
       <div class="container" id="sidebar">
            <nav class="col-sm-2">

                <div class="row">
                    <div class="panel panel-default" id="about">
                        <div class="panel-body"><h4><b>About</b></h4>
                        <p>TragicReviews is a review site where you can get feedback on coursework, essays and other work while also commenting on other peoples.</div>
                    </div>
                </div>
                <div class="row top-buffer">
                
                    <ul class="nav nav-pills nav-stacked" data-offset-top="205">
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'add_article' %}">Submit Article</a></li>
                        {% endif %} 
                        <h4>Subjects</h4>
                        <li class="active"><a href="#section1">Computing</a></li>
                        <li><a href="#section2">Mathematics</a></li>
                        <li><a href="#section3">Psychology</a></li>

                        
                        <h4>Subjects</h4>
                        { % for s in categories.subject % }
                            <li><a href="#">s</a></li>
                        { % end for % }
                    </ul>
                </div>
            </nav>  
        </div>
        
    </div>
    <div class="col-sm-9">
        <div class="container" id="pageBody">
          {% block body_block %}
          {% endblock %}
        </div>
    </div>
  </div>
  
</div>


</body>
</html>
