{% extends 'tragicTest/base_boot-strap.html' %}
{% load staticfiles %}

{% block title_block %}
	Category Name
{% endblock %}

{% block body_block %}

    <div class="panel panel-default" id="category">
            
              <div class="panel-heading"><h3>Category Name</h3></div>
              
              <div class="panel-body" id="cat">
                    <div class="container" id="catRow">
                        <div class="row">
                                <div class="col-sm-5">
                                    <h4><a href="#">Title</a></h4>
                                    <p>by <a href="#">Author</a></p>
                                </div>
                                <div class="col-sm-7">
                                    <p>Preview</p>
                                </div>
                           </div>
                           <div class="row">
                                <div class="col-sm-5">
                                    <h4><a href="#">Title</a></h4>
                                    <p>by <a href="#">Author</a></p>
                                </div>
                                <div class="col-sm-7">
                                    <p>Preview</p>
                                </div>
                           </div>
                           <div class="row">
                                <div class="col-sm-5">
                                    <h4><a href="#">Title</a></h4>
                                    <p>by <a href="#">Author</a></p>
                                </div>
                                <div class="col-sm-7">
                                    <p>Preview</p>
                                </div>
                           </div>
                           <div class="row">
                                <div class="col-sm-5">
                                    <h4><a href="#">Title</a></h4>
                                    <p>by <a href="#">Author</a></p>
                                </div>
                                <div class="col-sm-7">
                                    <p>Preview</p>
                                </div>
                           </div>
                           <div class="row">
                                <div class="col-sm-5">
                                    <h4><a href="#">Title</a></h4>
                                    <p>by <a href="#">Author</a></p>
                                </div>
                                <div class="col-sm-7">
                                    <p>Preview</p>
                                </div>
                           </div>
                           <div class="row">
                                <div class="col-sm-5">
                                    <h4><a href="#">Title</a></h4>
                                    <p>by <a href="#">Author</a></p>
                                </div>
                                <div class="col-sm-7">
                                    <p>Preview</p>
                                </div>
                           </div>
                           <div class="row">
                                <div class="col-sm-5">
                                    <h4><a href="#">Title</a></h4>
                                    <p>by <a href="#">Author</a></p>
                                </div>
                                <div class="col-sm-7">
                                    <p>Preview</p>
                                </div>
                           </div>
                           <div class="row">
                                <div class="col-sm-5">
                                    <h4><a href="#">Title</a></h4>
                                    <p>by <a href="#">Author</a></p>
                                </div>
                                <div class="col-sm-7">
                                    <p>Preview</p>
                                </div>
                           </div>
                           
                    </div>
              </div>
    </div>

            
{% endblock %}
