{% extends 'tragicTest/base_boot-strap.html' %}
{% load staticfiles %}

{% block title_block %}
	Category Name
{% endblock %}

{% block body_block %}

    <div class="panel panel-default" id="category">
            
              <div class="panel-heading"><h3>category.name</h3></div>
              
              <div class="panel-body" id="cat">
                    <div class="container" id="catRow">

                         {% for a in articles %}
                            <div class="row">
                                <div class="col-sm-5">
                                    <h4><a href="a.url">a.title</a></h4>
                                    <p>by <a href="a.author.url">a.author</a></p>
                                </div>
                                <div class="col-sm-7">
                                    <p>a.body</p>
                                </div>
                            </div>
                        {% end for %}
                           
                    </div>
              </div>
    </div>

            
{% endblock %}
