{% extends 'tragicreviews/base_boot-strap.html' %}
{% load staticfiles %}

{% block title_block %}
	Index
{% endblock %}

{% block body_block %}



    <div class="panel-group">

        <div class="panel panel-default" id="trending">
        
          <div class="panel-heading">Trending</div>
          
          <div class="panel-body">
            
            <div id="carousel1" class="carousel slide {% if trend_articles|length_is:0 or trend_articles|length_is:1 %} carousel-single {% endif %}" data-ride="carousel">
            
            <div class="row">
                <div class="col-xs-offset-2 col-xs-8">
                    <div class="carousel-inner">

                        {% for c in trend_articles %}
                        <div class="item {% if forloop.first %} active {% endif %}">
                            <div class="carousel-content">
                                <div>
                                    <p class="article index">{{ c.body }}</p>
                                    <p><h3><center><a href='{% url 'article' c.category.slug c.id %}'>{{ c.title }}</a></center></h3><p>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="item active">
                            <div class="carousel-content">
                                <div>
                                    <h3><center>No current trending articles</center></h3>
                                </div>
                            </div>
                        </div>
                        {% endfor %} 
                        
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel1" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel1" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>

            <ol class="carousel-indicators">
                {% for c in trend_articles %}
                    <li data-target="#carousel1" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %} class="active" {% endif %}></li>
                {% endfor %}
            </ol>

            </div>

          </div>

        </div>

        <div class="panel panel-default" id="new">
        
          <div class="panel-heading">New</div>
          
          <div class="panel-body">
          
            <div id="carousel2" class="carousel slide {% if new_articles|length_is:0 or new_articles|length_is:1 %} carousel-single {% endif %}" data-ride="carousel">
            
            <div class="row">
                <div class="col-xs-offset-2 col-xs-8">
                    <div class="carousel-inner">
                        {% for c in new_articles %}
                        <div class="item {% if forloop.first %} active {% endif %}">
                            <div class="carousel-content">
                                <div>
                                    
                                    <p class="article index">{{ c.body }}</p>
                                    <p><h3><center><a href='{% url 'article' c.category.slug c.id %}'>{{ c.title }}</a></center></h3><p>
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <div class="item active">
                            <div class="carousel-content">
                                <div>
                                    <h3><center>No articles found</center></h3>
                                </div>
                            </div>
                        </div>
                        {% endfor %} 
                        
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel2" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#carousel2" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>

            <ol class="carousel-indicators">
                {% for c in new_articles %}
                    <li data-target="#carousel2" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %} class="active" {% endif %}></li>
                {% endfor %}
            </ol>

            </div>

          </div>

        </div>

    </div>

            

{% endblock %}
