{% extends 'tragicTest/base_boot-strap.html' %}
{% load staticfiles %}

{% block title_block %}
	Index
{% endblock %}

{% block body_block %}



    <div class="panel-group">

        <div class="panel panel-default" id="trending">
        
          <div class="panel-heading">Trending</div>
          
          <div class="panel-body">
            
            <div id="carousel1" class="carousel slide" data-ride="carousel">
            
            <div class="row">
                <div class="col-xs-offset-3 col-xs-6">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="carousel-content">
                                <div>
                                    <p>Sapiente, ducimus, voluptas, mollitia voluptatibus nemo explicabo sit blanditiis laborum dolore illum fuga veniam quae expedita libero accusamus quas harum ex numquam necessitatibus provident deleniti tenetur iusto officiis recusandae corporis culpa quaerat?</p>
                                    <p><h3><center>Title</center></h3><p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-content">
                                <div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, sint fuga temporibus nam saepe delectus expedita vitae magnam necessitatibus dolores tempore consequatur dicta cumque repellendus eligendi ducimus placeat! </p>
                                    <p><h3><center>Title</center></h3><p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-content">
                                <div>                          
                                    <p>Sapiente, ducimus, voluptas, mollitia voluptatibus nemo explicabo sit blanditiis laborum dolore illum fuga veniam quae expedita libero accusamus quas harum ex numquam necessitatibus provident deleniti tenetur iusto officiis recusandae corporis culpa quaerat?</p>
                                    <p><h3><center>Title</center></h3><p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel1" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
             <a class="right carousel-control" href="#carousel1" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>

            </div>

        </div>

        <div class="panel panel-default" id="new">
        
          <div class="panel-heading">New</div>
          
          <div class="panel-body">
          
            <div id="carousel2" class="carousel slide" data-ride="carousel">
            
            <div class="row">
                <div class="col-xs-offset-3 col-xs-6">
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="carousel-content">
                                <div>
                                    <p>Sapiente, ducimus, voluptas, mollitia voluptatibus nemo explicabo sit blanditiis laborum dolore illum fuga veniam quae expedita libero accusamus quas harum ex numquam necessitatibus provident deleniti tenetur iusto officiis recusandae corporis culpa quaerat?</p>
                                    <p><h3><center>Title</center></h3><p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-content">
                                <div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi, sint fuga temporibus nam saepe delectus expedita vitae magnam necessitatibus dolores tempore consequatur dicta cumque repellendus eligendi ducimus placeat! </p>
                                    <p><h3><center>Title</center></h3><p>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="carousel-content">
                                <div>                          
                                    <p>Sapiente, ducimus, voluptas, mollitia voluptatibus nemo explicabo sit blanditiis laborum dolore illum fuga veniam quae expedita libero accusamus quas harum ex numquam necessitatibus provident deleniti tenetur iusto officiis recusandae corporis culpa quaerat?</p>
                                    <p><h3><center>Title</center></h3><p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <a class="left carousel-control" href="#carousel2" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
             <a class="right carousel-control" href="#carousel2" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>

            </div>
         </div>

        </div>

    </div></div>

            

{% endblock %}
