{% extends 'tragicreviews/base_boot-strap.html' %}
{% load staticfiles %}

{% block title_block %}
	Profile
{% endblock %}

{% block body_block %}

    <div class="panel panel-default" id="profile">
            
              <div class="panel-heading"><ul class="nav nav-tabs">
                  <li><a href='{% url 'profile' UserProfile.user %}'>My Account</a></li>
                  <li><a href='{% url 'profile_uploads' UserProfile.user %}'>Uploads</a></li>
                  <li class="active"><a href='{% url 'profile_reviews' UserProfile.user %}'>Reviews</a></li>
              </ul></div>
              
              <div class="panel-body" id="reviews">
              
                    <div class="container" id="uploadRow">

                         {% for u in ratings %}
                            <div class="row">
                                <div class="col-sm-7">
                                    <h4><a href='{% url 'article' u.article.category.slug u.article.id %}'>{{u.article.title}}</a></h4>
                                    <p class="article profile">{{u.article.body}}</p>
                                </div>
                                <div class="col-sm-5">
                                    <p>Your Rating: {{u.rating}}</p>
                                </div>
                            </div>
                        {% endfor %}
                        
                                
                  </div>
              </div>
    </div>

            
{% endblock %}
