{% extends 'tragicTest/base_boot-strap.html' %}
{% load staticfiles %}

{% block title_block %}
	Profile
{% endblock %}

{% block body_block %}

    <div class="panel panel-default" id="profile">
            
              <div class="panel-heading"><ul class="nav nav-tabs">
                  <li><a href='{% url 'profile' %}'>My Account</a></li>
                  <li class="active"><a href='{% url 'profile_reviews' %}'>Uploads</a></li>
                  <li><a href='{% url 'profile_uploads' %}'>Reviews</a></li>
              </ul></div>
              
              <div class="panel-body" id="uploads">
                  <div class="container" id="uploadRow">

                        <! -- ACTUAL UPLOADS
                        {% for u in uploads}
                            <div class="row">
                                <div class="col-sm-7">
                                    <h4><a href="u.url">u.title</a></h4>
                                    <p>u.preview</p>
                                </div>
                                <div class="col-sm-5">
                                    <p>Number of Reviews: u.noReviews</p>
                                    <p>Last Review: u.lastReview</p>
                                </div>
                            </div>
                        {% end for}
                        -->
                  
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Number of Reviews: Number</p>
                                <p>Last Review: Date</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Number of Reviews: Number</p>
                                <p>Last Review: Date</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Number of Reviews: Number</p>
                                <p>Last Review: Date</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Number of Reviews: Number</p>
                                <p>Last Review: Date</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Number of Reviews: Number</p>
                                <p>Last Review: Date</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Number of Reviews: Number</p>
                                <p>Last Review: Date</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Number of Reviews: Number</p>
                                <p>Last Review: Date</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Number of Reviews: Number</p>
                                <p>Last Review: Date</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Number of Reviews: Number</p>
                                <p>Last Review: Date</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Number of Reviews: Number</p>
                                <p>Last Review: Date</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Number of Reviews: Number</p>
                                <p>Last Review: Date</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Number of Reviews: Number</p>
                                <p>Last Review: Date</p>
                            </div>
                       </div>
                       
                  </div>
                </div>
    </div>

            
{% endblock %}
