{% extends 'tragicreviews/base_boot-strap.html' %}
{% load staticfiles %}


{% block title_block %}
	Profile
{% endblock %}

{% block body_block %}

    <div class="panel panel-default">
            
              <div class="panel-heading"><ul class="nav nav-tabs">
                  <li class="active"><a href='{% url 'profile' user_profile.user %}'>My Account</a></li>
                  <li><a href='{% url 'profile_uploads' user_profile.user %}'>Uploads</a></li>
                  <li><a href='{% url 'profile_reviews' user_profile.user %}'>Reviews</a></li>
              </ul></div>
              
              <div class="panel-body">
                    <p id="user"><h1>{{ user_profile.user }} <small>{{user_profile.get_role}}</small></h1></p>
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-sm-3">
                          <img src="{{ MEDIA_URL }}{{user_profile.image}}" class="img-thumbnail">
                        </div>
                        <div class="col-sm-9">
                          <div class="row">
                            <h3>Majors:</h3>
                            <ul>
                            {% for s in user_profile.majors.all %}
                                <li>{{ s }}
                            {% endfor %}
                            </ul>
                          </div>
                          
                          <div class="row">
                            {% if user_profile.get_role == "Student" %}
                                <h3 class="profile-year">Year: </h3> {{ user_profile.level }}
                            {% elif user_profile.get_role == "Staff"  %}
                                <h3 class="profile-year">Job: </h3> {{ user_profile.level }}
                            {% endif %}
                          </div> 
                        </div>
                      </div>
                    </div>
              </div>
    </div>

            
{% endblock %}
