{% extends 'tragicreviews/base_boot-strap.html' %}
{% load staticfiles %}


{% block title_block %}
	Profile
{% endblock %}

{% block body_block %}

    <div class="panel panel-default">
            
              <div class="panel-heading"><ul class="nav nav-tabs">
                  <li class="active"><a href='{% url 'profile' %}'>My Account</a></li>
                  <li><a href='{% url 'profile_uploads' %}'>Uploads</a></li>
                  <li><a href='{% url 'profile_reviews' %}'>Reviews</a></li>
              </ul></div>
              
              <div class="panel-body">
                    <p id="user"><h1>{{ UserProfile.user }} <small>Student</small></h1></p>
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-sm-3">
                          <img src="{{ MEDIA_URL }}{{UserProfile.image}}" class="img-thumbnail">
                        </div>
                        <div class="col-sm-9">
                          <div class="row"><h3>Subjects:
                              <ul>
                              {% for s in UserProfile.majors %}
                                  <li>{{ s }}
                              {% endfor %}
                              </ul>
                          </h3></div>
                          <div class="row"><h3>Year: {{ UserProfile.levels }} </h3></div>
                        </div>
                      </div>
                    </div>
              </div>
    </div>

            
{% endblock %}
