{% extends 'tragicTest/base_boot-strap.html' %}
{% load staticfiles %}

{% block title_block %}
	Profile
{% endblock %}

{% block body_block %}

    <div class="panel panel-default" id="profile">
            
              <div class="panel-heading"><ul class="nav nav-tabs">
                  <li><a href='tragicTest/profile'>My Account</a></li>
                  <li class="active"><a href='tragicTest/profile/uploads'>Uploads</a></li>
                  <li><a href='tragicTest/profile/reviews'>Reviews</a></li>
              </ul></div>
              
              <div class="panel-body" id="uploads">
                  <div class="container" id="uploadRow">
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Number of Reviews: Number</p>
                                <p>Last Review: Date</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Number of Reviews: Number</p>
                                <p>Last Review: Date</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Number of Reviews: Number</p>
                                <p>Last Review: Date</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Number of Reviews: Number</p>
                                <p>Last Review: Date</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Number of Reviews: Number</p>
                                <p>Last Review: Date</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Number of Reviews: Number</p>
                                <p>Last Review: Date</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Number of Reviews: Number</p>
                                <p>Last Review: Date</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Number of Reviews: Number</p>
                                <p>Last Review: Date</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Number of Reviews: Number</p>
                                <p>Last Review: Date</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Number of Reviews: Number</p>
                                <p>Last Review: Date</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Number of Reviews: Number</p>
                                <p>Last Review: Date</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Number of Reviews: Number</p>
                                <p>Last Review: Date</p>
                            </div>
                       </div>
                       
                  </div>
                </div>
    </div>

            
{% endblock %}
