{% extends 'tragicTest/base_boot-strap.html' %}
{% load staticfiles %}

{% block title_block %}
	Index
{% endblock %}

{% block body_block %}

    <div class="panel panel-default" id="trending">
            
              <div class="panel-heading"><ul class="nav nav-tabs">
                  <li class="active"><a href="#">My Account</a></li>
                  <li><a href="#">Uploads</a></li>
                  <li><a href="#">Reviews</a></li>
              </ul></div>
              
              <div class="panel-body">
                    <p><h2>Username <small>Student</small></h2></p>
              </div>
    </div>

            
{% endblock %}
