{% extends 'tragicreviews/base_boot-strap.html' %}
{% load staticfiles %}

{% block title_block %}
	Profile - Reviews
{% endblock %}

{% block body_block %}

    <div class="panel-group panel panel-default">
            
              <div class="panel-heading"><ul class="nav nav-tabs">
                  <li><a href='{% url 'profile' user_profile.user %}'>My Account</a></li>
                  <li><a href='{% url 'profile_uploads' user_profile.user %}'>Uploads</a></li>
                  <li class="active"><a href='{% url 'profile_reviews' user_profile.user %}'>Reviews</a></li>
              </ul></div>
              
              <div class="panel-body">
                  <div class="panel panel-default profile-article-list">
                      <div class="panel-body">
                          {% for u in ratings %}
                              <div class="row">
                                  <div class="col-sm-7">
                                      <h4><a href='{% url 'article' u.article.category.slug u.article.id %}'>{{u.article.title}}</a></h4>
                                      <p class="article profile">{{u.article.body}}</p>
                                  </div>
                                  <div class="col-sm-5">
                                      <p>Rated: {{u.rating}}</p>
                                  </div>
                              </div>
                          {% empty %}
                              <center><h4>This user has not rated any articles yet</h4></center>
                          {% endfor %}
                      </div>
                  </div>
              </div>
    </div>

            
{% endblock %}
