{% extends 'tragicTest/base_boot-strap.html' %}
{% load staticfiles %}

{% block title_block %}
	Profile
{% endblock %}

{% block body_block %}

    <div class="panel panel-default" id="profile">
            
              <div class="panel-heading"><ul class="nav nav-tabs">
                  <li><a href="#">My Account</a></li>
                  <li><a href="#">Uploads</a></li>
                  <li class="active"><a href="#">Reviews</a></li>
              </ul></div>
              
              <div class="panel-body" id="reviews">
                    <div class="container" id="uploadRow">
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Your Review: long text here</p>
                                <p>Replies: number</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Your Review: long text here</p>
                                <p>Replies: number</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Your Review: long text here</p>
                                <p>Replies: number</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Your Review: long text here</p>
                                <p>Replies: number</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Your Review: long text here</p>
                                <p>Replies: number</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Your Review: long text here</p>
                                <p>Replies: number</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Your Review: long text here</p>
                                <p>Replies: number</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Your Review: long text here</p>
                                <p>Replies: number</p>
                            </div>
                       </div>
                       <div class="row">
                            <div class="col-sm-7">
                                <h4><a href="#">Title</a></h4>
                                <p>Your Review</p>
                            </div>
                            <div class="col-sm-5">
                                <p>Your Review: long text here</p>
                                <p>Replies: number</p>
                            </div>
                       </div>
                                
                  </div>
              </div>
    </div>

            
{% endblock %}
