{% extends 'tragicreviews/base_boot-strap.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title_block %}
	Delete Category
{% endblock %}

{% block body_block %}
        <div class="panel panel-default">
        <div class="panel-heading"> Delete Category </div>
            <div class="panel-body">
                <form method="POST" action=".">
                    {% csrf_token %}
                    <form action="" method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}
                        <input class="btn btn-danger" type="submit" value="Confirm Delete" />
                    </form>
                </form>
            </div>
        </div>
{% endblock %}
