{% extends 'tragicreviews/base_boot-strap.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title_block %}
	Update Profile
{% endblock %}
{% block scripts %}
{% endblock %}

{% block body_block %}


    <div class="panel panel-default">

              <div class="panel-heading">Update Profile</div>

              <div class="panel-body" id="register">
                  <form method="post" action="." enctype="multipart/form-data">
                      {% csrf_token %}
                      {% bootstrap_form form %}
                      <input class="btn btn-default" type="submit" value="Update Profile" />
                  </form>
              </div>
    </div>



{% endblock %}
